* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("../imgs/cur/Cursor_Normal_64.png"), pointer;
}

html {
  font-size: 16px;
  /* min-width: 300px; */
}
body {
  position: relative;
  display: flex;

  min-height: 100%;
  padding-top: 4rem;
  flex-direction: column;
  background: #000 url(../imgs/background-light.png) top center fixed;
  font-family: pingfang sc, hiragino sans gb, microsoft yahei, "sans-serif";

  /* cursor: url("../imgs/cur/Cursor_Click_64.png"), alias; */
}
html,
body {
  height: 100%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

header {
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  /* background-color: #373737; */
  background-color: #fff;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
}
.head-logo {
  height: 100%;
  color: #fff;
  background-color: #1f8f93;
}
.head-logo svg {
  width: 100%;
  height: 100%;
}
.head-logo svg {
  height: 3em;
}
@media screen and (max-width: 600px) {
  .head-logo {
    left: 0;
    right: 0;
    z-index: -1;
    color: #a97f70;
    background: 0 0;
    position: absolute;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .head-toggle::before {
    display: block;
    content: "\f0c9";
    font-family: FontAwesome;
    font-size: 1.25rem;
  }
  .head-toggle {
    display: flex;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    margin-right: auto;
    color: #795548;
  }
}
.head-menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* background-color: pink; */
  font-size: 1 rem;
}
.head-menu > a,
.has-child > a {
  padding: 0 1rem;
  line-height: 4em;
}
.head-menu i {
  padding-right: 0.5rem;
}
.head-social {
  width: 4em;
  display: flex;
  flex: 0 1 auto;
  line-height: 4em;
  justify-content: flex-end;
  /* background-color: aqua; */
}

.head-social a {
  font-size: 1.5rem;
  margin-right: 1rem;
}
footer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  /* color: white; */
  /* padding: 10vw 0 2rem; */
  padding: 10vw 0 2rem;
}
footer::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  position: absolute;
  background: url(../imgs/footer.png) top/cover no-repeat;
}
.wrap {
  max-width: 75rem;
  padding: 0 1.25rem;
  /* background-color: #1f8f93; */
}
.wrap .row {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  row-gap: 2rem;
  text-align: center;
}
.wrap .row,
.wrap .row div a {
  color: #fff;
}

@media screen and (min-width: 900px) {
  footer .wrap {
    width: 100%;
  }
  footer .wrap .row {
    flex-direction: row;
  }
  footer .wrap .row div {
    flex: 1;
  }
  footer .wrap .row div:first-child {
    text-align: left;
  }
  footer .wrap .row div:last-child {
    text-align: right;
  }
}
.music {
  position: fixed;
  bottom: 10vh;
  right: 0;
  width: 19.375rem;
  height: 6.875rem;
}
